*{
  box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
body{
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background-color: #efefef;
}
h1{
  text-align: center;
  margin: 2rem auto;
  /* position: absolute; */
  /* font-size: 40px; */
  font-family: 'Fredoka', sans-serif;
  background: linear-gradient( #d63636,#4620ed);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}